.info
	background-color: $brown
	position: relative
	z-index: 1

	&:before
		background-color: $light-blue
		clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%)
		content: ''
		height: 3.5em
		left: 0
		position: absolute
		top: 0
		width: 100%

	&__inner
		margin: 0 auto
		padding: 6.5em 0 3em
		position: relative

	&__col
		margin: 0 auto
		max-width: 26em
		padding: 0 15px
		text-align: center
		width: 100%

		@media only screen and (max-width: $maxTablet)
			padding-bottom: 35%

	&__image
		bottom: 0
		max-width: 50em
		position: absolute
		width: 45%

		@media only screen and (min-width: $tablet)
			width: calc(50% - 15em)

		&--left.info__image
			left: 0
			rotate: 10deg
			translate: -6em 6em

		&--right.info__image
			right: 0
			rotate: -10deg
			translate: 6em 6em

			img
				transform: scaleX(-1)

		img
			display: block
			height: auto
			width: 100%