@import 'vars'
@import 'type'

*, *::before, *::after
	box-sizing: border-box


body
	background-color: $brown
	margin: 0

main
	overflow: hidden
	position: relative

@import 'lazy-load'
@import 'components/landing/landing'
@import 'components/info/info'
@import 'components/footer/footer'